<div class="nav-bar">
  <div class="logo">
    <h1>CRM</h1>
  </div>
  <div class="nav-bar__route">
    <nav>
      <h6 class="nav-bar__route-title">Menu</h6>
      <ul class="nav-bar__route-list">
        <li routerLink="dashboard"><a><mat-icon svgIcon="grid"></mat-icon> Dashboard</a></li>
        @if(user().role === 'admin' ) {
          <li><a><mat-icon svgIcon="user"></mat-icon>Accounts</a></li>
        }
      </ul>
    </nav>

    <nav>
      <h6 class="nav-bar__route-title">Leads</h6>
      <ul class="nav-bar__route-list">
        <li><a><mat-icon svgIcon="user-plus"></mat-icon>Contacts</a></li>
        <li><a><mat-icon svgIcon="users-group"></mat-icon>Leads</a></li>
        <li><a><mat-icon svgIcon="calendar"></mat-icon>Calender</a></li>
      </ul>
    </nav>

    <nav>
      <h6 class="nav-bar__route-title">Cases</h6>
      <ul class="nav-bar__route-list">
        <li><a><mat-icon svgIcon="case"></mat-icon>Cases</a></li>
        <li><a><mat-icon svgIcon="activity"></mat-icon>Activities</a></li>
        <li><a><mat-icon svgIcon="user-check"></mat-icon>Users</a></li>
      </ul>
    </nav>
  </div>

</div>
