<div class="register">
  <h2 class="text-center title">Register</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-label class="input-wrapper">
      Work Email
      <mat-form-field class="example-full-width input">
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        @if (form.get('email')?.hasError('required')) {
          <mat-error>Email field must be <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-label>

    <mat-label class="input-wrapper">
      Name Company
      <mat-form-field class="example-full-width input">
        <input type="text" matInput formControlName="company" placeholder="gloria">
        @if (form.get('company')?.hasError('required')) {
          <mat-error>Company field must be <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-label>

    <mat-label class="input-wrapper">
      Password
      <mat-form-field class="example-full-width input">
        <input type="password" matInput formControlName="password" placeholder="*******">

        @if (form.get('company')?.hasError('required')) {
          <mat-error>Company field must be <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-label>

    <mat-label class="input-wrapper">
      Password repeat
      <mat-form-field class="example-full-width input">
        <input type="password" matInput formControlName="repeatPassword" placeholder="*******">

        @if (form.get('repeatPassword')?.hasError('passwordMismatch')) {
          <mat-error>Password must be <strong>match</strong></mat-error>
        }
        @if (form.get('repeatPassword')?.hasError('required')) {
          <mat-error>Password must be <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-label>

    <button mat-flat-button [disabled]="form.invalid" class="mat-primary button">
      Submit
    </button>
  </form>

</div>
