<header class="header">
  <div class="header__container">
    <nav class="header__auth">
      @if (!authUser()) {
        <ul class="header__auth-menu">
          <li><a routerLinkActive="active" routerLink="auth/register">Register</a></li>
          <li><a routerLinkActive="active" routerLink="auth/login">Login</a></li>
        </ul>
      } @else {
        <ul class="header__user-panel">
          <li [matMenuTriggerFor]="menu">
            <a class="profile-link">
              <div class="header__avatar-user">
                <img [src]="user().avatar?.file_path || '/assets/icons/user.svg'" alt="avatar">
              </div>
              <span class="profile-link-name">
                @if (user()) {
                  {{ user().email }}
                }
            </span>
            </a>
          </li>
          <mat-menu #menu="matMenu" class="header-widget">
            <button mat-menu-item routerLink="/profile/edit">
              <mat-icon>create</mat-icon>
              <span>Edit profile</span>
            </button>
            <button mat-menu-item routerLink="/profile/view">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View profile</span>
            </button>
            <button mat-menu-item routerLink="/profile/settings">
              <mat-icon>settings_applications</mat-icon>
              <span>Setting</span>
            </button>
            <button (click)="logOut()" mat-menu-item routerLink="/profile/view">
              <mat-icon>directions_run</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </ul>
      }
    </nav>
  </div>
</header>

