@import "../../../../styles/variables/colors";

.header {

  border-bottom: $light-grey 2px solid ;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 30px;

  &__auth-menu {
    display: flex;
  }

  .active {
    color: red;
  }
}
